<footer>
    <span id ="copy">Copyright &copy; Fashion World</span>
    <a id = "about" href="/users/about"> <span>About</span></a>
    <a id = "contact" href="/users/contact"> <span>Contact</span></a>
    <span><a class="fa fa-facebook" href="https://www.facebook.com" id = "social"></a></span>
 </footer>
</body>
</html>