<%- include('./partials/header.ejs') %>
    <div class="content">
        <h1><b>About Fashion world!!!</b></h1>
        <p>Welcome to our clothing store, where fashion meets affordability. Browse through our collection of trendy and comfortable 
            clothes to find your perfect and fit and  style.<br><br>
            Our mission is to provide you with the latest fashion trends, tips, and inspiration to
            help you look and feel your best.<br><br>
            We believe that fashion should be accessible to everyone, regardless of budget or body type. That's why we offer a range of content, 
            including budget-friendly fashion finds, plus-size fashion tips, and advice on how to style your favorite pieces in new and creative ways.<br><br>
            Thank you for visiting our fashion page, and we hope you find the content here helpful and inspiring. Don't forget to follow us on 
            social media for even more fashion and beauty content!!<br>
         </p><br>
    </div>
    <%- include('./partials/footer.ejs')%>
