<%- include('./partials/header.ejs') %>
    <div class="content">
        <h1><b>Contact Fashion world!!!</b></h1>
        <p>Thank you for your interest in contacting our fashion page!
            If you have any questions, comments, or feedback, please feel free to reach out to us at our <b>email address: fashionpage@email.com</b>
            You can also follow us on social media to stay up-to-date with the latest fashion trends and news.
             We are active on Instagram, Twitter, and Facebook.
            We look forward to hearing from you!</p>
            <ul class="contactul">
                <li>Instagram:&nbsp; <a href = https://www.instagram.com/fashionpage>https://www.instagram.com/fashionpage</a></li>
                <li>Twitter:&nbsp;<a href =  https://twitter.com/fashionpage>https://twitter.com/fashionpage</a></li>
                <li>Facebook:&nbsp;<a href =  https://www.facebook.com/fashionpage>https://www.facebook.com/fashionpage</a></li>
            </ul>
    </div>
    <%- include('./partials/footer.ejs')%>
