<%- include('./partials/header.ejs') %>
    <div class="errorcontent">
        <h3>
            <%= error.status %>
        </h3>
        <p>
            <%= error.message %>
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>