<%- include('./partials/header.ejs') %>
    <div class="content">
        <h1><b>Welcome to the Fashion world!!!</b></h1>
        <p>"If you love something, wear it all the time... Find things that suits you. That's how you look extraordinary."</p>
        <img id = "HomeImage" src = "https://www.lux-review.com/wp-content/uploads/2020/10/fashion-store.jpg" alt = "Img">
    </div>
    <%- include('./partials/footer.ejs')%>
